<style>
    #hotsite-main-menu-content
    {
        {% if menu_settings.background_color %} background: #{{ menu_settings.background_color }}; {% endif %}
        {% if menu_settings.text_color %} color: #{{ menu_settings.text_color }}; {% endif %}
    }

    #hotsite-main-menu-content .item
    {
        {% if menu_settings.link_color %} background: #{{ menu_settings.link_color }}; {% endif %}
    }

    #hotsite-main-menu-content .item a
    {
        {% if menu_settings.text_color %} color: #{{ menu_settings.text_color }}; {% endif %}
    }

    {% if menu_settings.hover_color %}
        #hotsite-main-menu-content .item:hover {
            background-color: #{{menu_settings.hover_color}};
        }
    {% endif %}
</style>
<div id='hotsite-main-menu-content' class='{% if menu_settings.menu_align == 1 %} hotsite-main-vertical-menu {% else %} hotsite-main-horizontal-menu {% endif %}'>
    {% for link in menu_links %}
        {{ link|raw }}
    {% endfor %}
</div>