{% extends "base_layout.twig" %}

{% block user_header %}
    {% include "user_header.twig" %}
{% endblock %}

{% block top_menu %}
    {% include "main_menu.twig" %}
{% endblock %}
{% block content %}
    <div id="sidebar-menu-events" class="sidebar-menu sidebar-control-menu">
        {% include "controle/menu_control.twig" %}
        {% include "controle/cliente_overview_menu.twig" %}
    </div>
    <div id="right-content-control" class="right-content right-content-control cliente-overview">
        <header>
            <div class="top-image"></div>
            <div class="header-info">
                <div class="title">{{ cliente.nome }}</div>
                <strong>Membro desde</strong> {{ cliente.data_criacao }}
            </div>
            <div class="clear"></div>
        </header>
        <section id="cliente-edit-form">
            <form method='post' action=''>
                <div class="item">
                    <label target="nome">Nome</label>
                    <input type="text" value="{{ cliente.nome }}" name="nome" />
                </div>
                <div class="item">
                    <label target="rg">RG</label>
                    <input type="text" value="{{ cliente.rg }}" name="rg" />
                </div>
                <div class="item">
                    <label target="email">Email</label>
                    <input type="email" value="{{ cliente.email }}" name="email" />
                </div>
                <div class="item">
                    <label target="sexo">Sexo</label>
                    <select name="sexo">
                        <option value='m' {% if cliente.sexo == 'm' %} selected {% endif %}>Masculino</option>
                        <option value='f' {% if cliente.sexo == 'f' %} selected {% endif %}>Feminino</option>
                    </select>
                </div>
                <div class="item">
                    <label target="estado">Estado</label>
                    <select name="estado">
                        <option value="AC" {% if cliente.estado == "AC" %} selected {% endif %} >Acre</option>
                        <option value="AL" {% if cliente.estado == "AL" %} selected {% endif %} >Alagoas</option>
                        <option value="AP" {% if cliente.estado == "AP" %} selected {% endif %} >Amapá</option>
                        <option value="AM" {% if cliente.estado == "AM" %} selected {% endif %} >Amazonas</option>
                        <option value="BA" {% if cliente.estado == "BA" %} selected {% endif %} >Bahia</option>
                        <option value="CE" {% if cliente.estado == "CE" %} selected {% endif %} >Ceará</option>
                        <option value="DF" {% if cliente.estado == "DF" %} selected {% endif %} >Distrito Federal</option>
                        <option value="ES" {% if cliente.estado == "ES" %} selected {% endif %} >Espirito Santo</option>
                        <option value="GO" {% if cliente.estado == "GO" %} selected {% endif %} >Goiás</option>
                        <option value="MA" {% if cliente.estado == "MA" %} selected {% endif %} >Maranhão</option>
                        <option value="MS" {% if cliente.estado == "MS" %} selected {% endif %} >Mato Grosso do Sul</option>
                        <option value="MT" {% if cliente.estado == "MT" %} selected {% endif %} >Mato Grosso</option>
                        <option value="MG" {% if cliente.estado == "MG" %} selected {% endif %} >Minas Gerais</option>
                        <option value="PA" {% if cliente.estado == "PA" %} selected {% endif %} >Pará</option>
                        <option value="PB" {% if cliente.estado == "PB" %} selected {% endif %} >Paraíba</option>
                        <option value="PR" {% if cliente.estado == "PR" %} selected {% endif %} >Paraná</option>
                        <option value="PE" {% if cliente.estado == "PE" %} selected {% endif %} >Pernambuco</option>
                        <option value="PI" {% if cliente.estado == "PI" %} selected {% endif %} >Piauí</option>
                        <option value="RJ" {% if cliente.estado == "RJ" %} selected {% endif %} >Rio de Janeiro</option>
                        <option value="RN" {% if cliente.estado == "RN" %} selected {% endif %} >Rio Grande do Norte</option>
                        <option value="RS" {% if cliente.estado == "RS" %} selected {% endif %} >Rio Grande do Sul</option>
                        <option value="RO" {% if cliente.estado == "RO" %} selected {% endif %} >Rondônia</option>
                        <option value="RR" {% if cliente.estado == "RR" %} selected {% endif %} >Roraima</option>
                        <option value="SC" {% if cliente.estado == "SC" %} selected {% endif %} >Santa Catarina</option>
                        <option value="SP" {% if cliente.estado == "SP" %} selected {% endif %} >São Paulo</option>
                        <option value="SE" {% if cliente.estado == "SE" %} selected {% endif %} >Sergipe</option>
                        <option value="TO" {% if cliente.estado == "TO" %} selected {% endif %} >Tocantins</option>
                    </select>
                </div>
                <div class="item">
                    <label target="cidade">Cidade</label>
                    <input type="text" value="{{ cliente.cidade }}" name="cidade" />
                </div>
                <div class="senha">
                    <label target="senha">Senha</label>
                    <input type="password" placeholder="Preencha com a nova senha (Opcional)" name="senha" />
                </div>      
                <input type="submit" class='btn-01' name='submit' value='Editar Perfil' />
            </form>
                {% if success %}
                    <div class="control-add-confirm dialog-message01">Informações editadas com sucesso</div>
                {% endif %}
                {% if error %}
                <div class="control-add-error error-message01">{{ error }}</div>
                {% endif %}
        </section>

    </div>
{% endblock %}