{% extends "base_layout.twig" %}

{% block user_header %}
    {% include "user_header.twig" %}
{% endblock %}

{% block top_menu %}
    {% include "main_menu.twig" %}
{% endblock %}
{% block content %}
    <script type="text/javascript">
        control_interface = new controlInterface;
    </script>
    <div id="sidebar-menu-events" class="sidebar-menu sidebar-control-menu">
        {% include "controle/menu_control.twig" %}
    </div>
    <div id="right-content-control" class="right-content right-content-control">
        <div class="list-info-wrap">
            <header>
                <div class="title">Listagem de Pacotes</div>
            </header>
            <div class="search-info-wrap">
                <form method="post" action="" id="list-pacote-form-wrap">
                    <select name="fieldquery">
                        <option value="nome">Nome do Cliente</option>
                        <option value="grupo">Grupo</option>
                        <option value="rg">RG do Cliente</option>
                        <option value="cidade">Cidade</option>
                        <option value="estado">Estado</option>
                    </select>
                    <input class="big-search-input" name="querystring" type="text" />
                    <input type="submit" value="Pesquisar" name="submit-button" class="btn-02" />
                    <div class="advanced-search-wrap">
                        <strong class="title">Pesquisa Avançada</strong>
                        <div>
                            <select name="query_pagamento">
                                <option value="">Pagamento</option>
                                <option value="1" {% if search.pagamento_searched == 1 %} selected {% endif %}>Boleto</option>
                                <option value="2" {% if search.pagamento_searched == 2 %} selected {% endif %}>Pagseguro</option>
                                <option value="3" {% if search.pagamento_searched == 3 %} selected {% endif %}>Depósito</option>
                            </select>
                            <select name="query_lote">
                                <option value="">Lote</option>
                                {% for lote in evento.lista_lotes %}
                                    <option value="{{ lote.id }}" {% if lote.id == search.lote_searched %} selected {% endif %}>{{ lote.nome }}</option>
                                {% endfor %}
                            </select>
                            <div class='status-search'>
                                <strong class="title">Status</strong><br/>
                                <input type="checkbox" name="query_status[]" value="3">Quitados
                                <input type="checkbox" name="query_status[]" value="2">Aprovados
                                <input type="checkbox" name="query_status[]" value="1">Pendentes
                                <input type="checkbox" name="query_status[]" value="0">Cancelados
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="order-input" value="{{ search.order_json }}" name="order" />
                </form>
            </div>
            {% if not error_flag %}
                <div class="item-list-info">
                    <input type="hidden" id="list-page-count" value="{{ pacotes.count.query }}" />
                    <input type="hidden" id="query-searched" value="{{ search.query_searched }}" />
                    <input type="hidden" id="field-searched" value="{{ search.field_searched }}" />
                    <input type="hidden" id="status-searched" value="{{ search.status_searched }}" />
                    <input type="hidden" id="pagamento-searched" value="{{ search.pagamento_searched }}" />
                    <input type="hidden" id="lote-searched" value="{{ search.lote_searched }}" />
                    <input type="hidden" id="order-searched" value="{{ search.order_json }}" />
                    <div><strong>Total de Pacotes Pesquisados: </strong> {{ pacotes.count.total }}</div>
                </div>
                <section id="pacote-list-wrap">
                    
                    {% include "controle/list_pacote_list.twig" %}
                </section>
                {% if pacotes.count.query == 20 %}
                    <div class="list-view-more" id="list-view-more">Ver Mais Resultados</div>
                    <script type="text/javascript">
                        control_interface = new controlInterface;
                        control_interface.bindPacoteListMore();
                    </script>
                {% endif %}
            {% else %}
                <div class="error-message01">{{ error_flag }}</div>
            {% endif %}

            <div class="clear"></div>           
        </div>
    </div>
    <script>
        control_interface.bindChangeOrderListPacotes();
    </script>
{% endblock %}