<div id="top-menu-wrap">
      <a href="{{ config.system_path }}/"><div class="item home-item">Dashboard</div></a>
      <a href="{{ config.system_path }}/eventos"><div class="item">Eventos</div></a>
      <a href="{{ config.system_path }}/controle"><div class="item">Controle</div></a>
      <a href="{{ config.system_path }}/hospedagem"><div class="item">Hospedagem</div></a>
      <a href="{{ config.system_path }}/interface"><div class="item">Hotsite</div></a>
      <a href="{{ config.system_path }}/integracao"><div class="item">Integração</div></a>
      <a href="{{ config.system_path }}/tarefas"><div class="item">Tarefas</div></a>
      <div class="clear"></div>
</div>
