{% extends "base_layout.twig" %}

{% block user_header %}
    {% include "user_header.twig" %}
{% endblock %}

{% block top_menu %}
    {% include "main_menu.twig" %}
{% endblock %}
{% block content %}
    <div id="sidebar-menu-events" class="sidebar-menu sidebar-events-menu">
        {% include "evento/menu_event.twig" %}
    </div>

    <div id="right-content-events" class="right-content right-content-events">
        {% if event %}
            <input type="hidden" id="event-id" value="{{ event.id }}"/>
            <input type="hidden" id="event-max-venda" value="{{ event.max_venda }}"/>
            <input type="hidden" id="event-vendidos" value="{{ event.n_vendas }}"/>
            <div id="event-info-wrap" class="list-info-wrap">
                <header>
                    <div class="title"><strong>Informações do Evento</strong> | {{ event.nome }}</div>
                </header>
                <div class="event-info-infos">
                    <div class="event-info-resumo">
                        <div class="header">Informações</div>
                        <div class="tab-container clearfix">
                            <div class="tab" id="event-info-resumo-tab-overview">Meu Evento</div>
                            <div class="tab" id="event-info-resumo-tab-payment">Pagamento</div>
                            <div class="tab clearfix" id="event-info-resumo-tab-sells">Vendas</div>
                        </div>
                        <div id="event-tab-overview">
                            <div id="edit-event-overview"><i class="fa fa-pencil"></i> Editar</div>
                            <div class="clear"></div>
                            <div class="column-50">
                                <div class="item">
                                    <div class="label">
                                        Data de Início
                                    </div>
                                    <div class="info" field="data-inicio">
                                        {{ event.data_inicio_formatted }}                                        
                                    </div>
                                </div>
                                {% if event.data_fim %}
                                    <div class="item">
                                        <div class="label">
                                            Data de Término
                                        </div>
                                        <div class="info" field="data-fim">
                                            {{ event.data_fim_formatted }}                                        
                                        </div>
                                    </div>
                                {% endif %}
                                {% if event.local %}
                                    <div class="item">
                                        <div class="label">
                                            Localização
                                        </div>
                                        <div class="info" field="local">
                                            {{ event.local }}                                        
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="column-50">
                                <div class="item">
                                    <div class="label">
                                        Sistema de Hospedagem
                                    </div>
                                    <div class="info" field="sys-hospedagem">
                                        {% if event.flag_hospedagem %}Ativado{% else %}Desativado{%endif%}                                        
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="label">
                                        Sistema de Compras
                                    </div>
                                    <div class="info" field="sys-compras">
                                        {% if event.flag_compras %}Ativado{% else %}Desativado{%endif%}                                        
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="label">
                                        Sistema de Grupos
                                    </div>
                                    <div class="info" field="sys-grupos">
                                        {% if event.flag_grupos %}Ativado{% else %}Desativado{%endif%}                                        
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                            {% if event.descricao %}
                                <div class="item">
                                    <div class="label">
                                        Descrição
                                    </div>
                                    <div class="info-desc" field="sys-desc">
                                        {{ event.descricao_br }}                                        
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="event-info-lotes">
                        <div class="header">Lotes</div>
                        <div class="items">
                            {% set level = 0 %}
                            {% include "evento/load_event_lotes.twig" with {'lotes': event.lista_lotes_hierarchy, 'level': level} %}
                        </div>
                        {% if event.empty_lotes_flag %}
                            <div class="error-message02 empty-lotes-flag">{{ event.empty_lotes_flag }}</div>
                        {% endif %}
                        <div class="controls">
                            <div class="button" id="event-info-add-lote">Adicionar Lote</div>
                            <div class="button" id="event-info-manage-lote">Gerenciamento Inteligente</div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        {% endif %}
        {% if event_error_flag %}
            <div class="event-not-found error-message01">
                {{ error }}
            </div>                  
        {% endif %}
    </div>
    <script>
        event_interface = new eventInterface();
        event_interface.getEventId();
        event_interface.loadEventBinds();
    </script>
{% endblock %}