{% extends "base_layout.twig" %}

{% block user_header %}
    {% include "user_header.twig" %}
{% endblock %}

{% block top_menu %}
    {% include "main_menu.twig" %}
{% endblock %}
{% block content %}
    <div id="sidebar-menu-finances" class="sidebar-menu sidebar-finances-menu">
        {% include "financeiro/menu_finances.twig" %}
    </div>
    <div id="right-content-finances" class="right-content right-content-finances">
        <header>
            <div class="title">{{ compra.nome }}</div>
        </header>
        <div class="compra-infos" id='compra-infos-{{ compra.id }}'>
            <div class="status">
                {% if compra.status == 0 %}
                    <span class="compra-status-cancelada">Cancelada</span>
                {% elseif compra.status == 1 %}
                    <span class="compra-status-pendente">Pendente</span>
                {% elseif compra.status == 2 %}
                    <span class="compra-status-aprovada">Aprovada</span>
                {% endif %}
                <div class='edit' compra='{{ compra.id }}'>Alterar</div>
            </div>
            <div class="item">
                <label>Tipo</label>
                <span class='tipo'>
                    {% if compra.tipo == 0 %}
                        <span class='compra-span-tipo'>Compra</span>
                    {% elseif compra.tipo == 1 %}
                        <span class='orcamento-span-tipo'>Orçamento</span>
                    {% endif %}
                </span>
                <span id="edit-compra-type" compra="{{ compra.id }}">Editar Tipo</span>
            </div>
            <div class="item">
                <label>Valores</label>
                <strong class='quantity-number'>{{ compra.quantidade }}un</strong> x <strong>{{ compra.valor_unitario_str }}</strong> =
                <strong class="color-green">{{ compra.valor_total_str }}</strong> 
                <span id="edit-compra-quantity" compra="{{ compra.id }}">Editar Quantidade</span>
            </div>
        </div>
        <div class="compra-parcelas">
            <div class="title">Parcelas <input type='button' value='Add Parcela' class='btn-02' id='compra-add-parcela' compra="{{ compra.id }}" /></div>
            {% for parcela in compra.parcelas %}
                <div class="parcela-item" id="parcela-{{ parcela.id }}">
                    <div class="info">
                        <div class="counter">{{ loop.index }}</div> 
                        <div class="value">{{ parcela.valor_str }}</div>
                        <div class="status">
                            {% if parcela.status == 0 %}
                                <div class="compra-parcela-status cancelada">Cancelada</div>
                            {% elseif parcela.status == 1 %}
                                <div class="compra-parcela-status pendente">Pendente</div>
                            {% elseif parcela.status == 2 %}
                                <div class="compra-parcela-status aprovada">Aprovada</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="datas">
                        <div class="data">
                            <label>Vencimento</label>
                            <span class="data-vencimento">{% if parcela.data_vencimento %}{{ parcela.data_vencimento|date("d/m/Y") }}{% endif %}</span>
                        </div>
                        <div class="data">
                            <label>Pagamento</label>
                            <span class="data-pagamento">
                                {% if parcela.data_pagamento %}
                                    {{ parcela.data_pagamento|date("d/m/Y") }}
                                {% endif %}
                            </span>
                        </div>
                    </div>
                    <div class="buttons">
                        {% if parcela.status != 0 %}
                            <div class="button button-edit" parcela="{{ parcela.id}}" step='1'>Editar Parcela</div>
                            <div class="button button-cancel" parcela="{{ parcela.id}}">Cancelar Parcela</div>
                        {% endif %}
                        {% if parcela.status == 1 %}
                            <div class="button button-confirm" parcela="{{ parcela.id}}">Confirmar Parcela</div>
                        {% endif %}
                        {% if parcela.status == 2 %}
                            <div class="button button-view" parcela="{{ parcela.id}}">Visualizar Comprovante</div>
                        {% endif %}
                    </div>
                    <div class="clear"></div>
                </div>
            {% endfor %}

        </div>
        <div class="comments-box" id="comments-box-5-{{compra.id}}">
        </div>

        <script>
            var finances_interface = new financeInterface;
            finances_interface.bindCompraButtons();
            var comments_interface = new commentsInterface();
            comments_interface.bindCommentsButtons();
            comments_interface.loadComments("#comments-box-5-" + {{ compra.id }}, 5, {{ compra.id }});
        </script>
    {% endblock %}