{% extends "base_layout.twig" %}

{% block user_header %}
      {% include "user_header.twig" %}
{% endblock %}

{% block top_menu %}
      {% include "main_menu.twig" %}
{% endblock %}
{% block content %}
      <div id="sidebar-menu-events" class="sidebar-menu sidebar-control-menu">
            {% include "controle/menu_control.twig" %}
      </div>
      <div id="right-content-control" class="right-content right-content-control">
            <div class="list-info-wrap">
                  <header>
                        <div class="title">Listagem de Clientes</div>
                  </header>
                  <div class="search-info-wrap">
                        <form method="post">
                              <select name="fieldquery">
                                    <option value="nome">Nome</option>
                                    <option value="email">Email</option>
                                    <option value="rg">RG</option>
                                    <option value="cidade">Cidade</option>
                                    <option value="estado">Estado</option>
                              </select>
                              <input class="big-search-input" name="querystring" type="text" />
                              <input type="submit" value="Pesquisar" name="submit" class="btn-02" />
                              <div class="advanced-search-wrap">
                                    <strong class="title">Pesquisa Avançada</strong>
                              </div>
                        </form>
                  </div>
                  {% if not error_flag %}
                        <div class="item-list-info">
                              <input type="hidden" id="list-page-count" value="{{ clientes.count.query }}" />
                              <input type="hidden" id="query-searched" value="{{ search.query_searched }}" />
                              <input type="hidden" id="field-searched" value="{{ search.field_searched }}" />
                              <div><strong>Total de Clientes Pesquisados: </strong> {{ clientes.count.total }}</div>
                        </div>
                        <section class="item-list">
                              <div class="list-row list-row-header">
                                    {% for field in clientes.field_list %}
                                          <div class="list-column-header list-column column-{{ field }}{% if loop.index == loop.length %} list-column-last{% endif %}">
                                                {{ field|capitalize }}
                                          </div>
                                    {% endfor %}
                              </div>
                              {% include "controle/list_cliente_list.twig" %}
                        </section>
                        {% if clientes.count.query == 25 %}
                              <div class="list-view-more" id="list-view-more">Ver Mais Resultados</div>
                              <script type="text/javascript">
                                    control_interface.bindClienteListMore();
                              </script>
                        {% endif %}
                  {% else %}
                        <div class="error-message01">{{ error_flag }}</div>
                  {% endif %}

                  <div class="clear"></div>           
            </div>
      </div>
      <script>

      </script>
{% endblock %}