{% extends "base_layout.twig" %}

{% block user_header %}
      {% include "user_header.twig" %}
{% endblock %}

{% block top_menu %}
      {% include "main_menu.twig" %}
{% endblock %}
{% block content %}
      <div id="sidebar-menu-events" class="sidebar-menu sidebar-control-menu">
            {% include "controle/menu_control.twig" %}
      </div>
      <div id="right-content-control" class="right-content right-content-control">
            <div class="form-info-wrap">
                  <header>
                        <div class="title">Adicionar Novo Pacote</div>
                  </header>
                  <div class="form-edit-infos">
                        <div class="info">Adicione pacotes para usuários já existentes, crie grupos ou selecione dentre os disponíveis. Essa interface oferece controle total sobre novos pacotes.
                              <br/><strong>O cliente receberá um email informando sobre o pacote gerado, incluindo acesso à uma interface contendo todas as informações para pagamento</strong>
                        </div>
                        <form method="post">
                              <div class="header">Informações Básicas do Evento</div>
                              <div class='item'>
                                    <label>Evento</label>
                                    <input type="text" disabled value="{{ event.nome }}"/>
                                    <input type="hidden" name="evento" id="pacote-create-selected-event" value="{{ event.id }}" />
                              </div>
                              <div class='item'>
                                    <label>Lote</label>
                                    <select name="lote" id="pacote-create-lote">
                                          <option value="">Selecione um Lote</option>
                                          {% for lote in event.lista_lotes %}
                                                {% if lote.status == 2 %}
                                                      <option value="{{ lote.id }}">{{ lote.nome }} ({{ lote.valor }})</option>
                                                {% endif %}
                                          {% endfor %}
                                    </select>
                              </div>
                              <div class='item'>
                                    <label>
                                          Desconto do Pacote
                                          <div class="subinfo">Em porcentagem, não requer o %.</div>
                                    </label>
                                    <input type="text" class="input-small" name="desconto" autocomplete="off" placeholder="0%"/>
                              </div>
                              <div class="header">Clientes e Grupos</div>
                              <div class='item'>
                                    <label>
                                          Nome do Usuário
                                          <div class="subinfo">Selecione o usuário do autocomplete.</div>
                                    </label>
                                    <input type="text" id="pacote-create-nome-completefield" name="cliente-name-search" autocomplete="off" />
                                    <input type="hidden" id="pacote-create-nome-id" name="cliente" />
                              </div>
                              <div class='item'>
                                    <label>
                                          Grupo
                                          <div class="subinfo">Crie ou escolha um.</div>
                                    </label>
                                    <div id="pacote-create-grupo-input">
                                          <input type="button" class="btn-01" id="pacote-create-grupo-add" value="Criar Grupo (Líder)" />
                                          <input type="button" class="btn-01" id="pacote-create-grupo-select" value="Adicionar em Grupo Existente" />
                                    </div>
                              </div>
                              <div class="header">Pagamento</div>
                              <div class='item'>
                                    <label>
                                          Forma de Pagamento
                                    </label>
                                    <select name="pagamento" id="pacote-create-pagamento">
                                          <option value="">Selecione a forma de pagamento.</option>
                                          {% for pagamento in event.formas_pagamento %}
                                                <option value="{{ pagamento.id }}">{{ pagamento.nome }}</option>
                                          {% endfor %}
                                    </select>
                              </div><div class='item'>
                                    <label>
                                          Parcelas
                                          <div class="subinfo">Selecione o número de parcelas.</div>
                                    </label>
                                    <select name="parcelas" id="pacote-create-parcelas">
                                          <option value="">Primeiro selecione a forma de pagamento.</option>
                                    </select>
                              </div>
                              <input type="submit" class="btn-01" value="Adicionar Pacote" name="submit" />
                        </form>
                        {% if error_edit_flag %}
                              <div class="control-add-error error-message01">
                                    {{ error_edit_flag }}
                              </div>
                        {% endif %}
                        {% if confirm_edit_flag %}
                              <div class="control-add-confirm dialog-message01">
                                    Pacote adicionado com sucesso.
                              </div>
                        {% endif %}                   
                  </div>
                  <div class="clear"></div>           
            </div>
      </div>
      <script>
            control_interface.bindUserIdByName();
            control_interface.bindGroupCreation();
            control_interface.bindGetParcelas();

      </script>
{% endblock %}