<div class="header2">Operações para<br/> {{ cliente.nome }}</div>
<a href="{{ config.system_path }}/cliente/{{ cliente.id }}"><div class="item">Visualizar</div></a>
<a href="{{ config.system_path }}/cliente/{{ cliente.id }}/alterar"><div class="item">Alterar</div></a>
