<div id="top-menu-wrap">
      <a href="{{ config.system_path }}/"><div class="item home-item">Dashboard</div></a>
      <a href="{{ config.system_path }}/vendor/eventos"><div class="item">Eventos</div></a>
      <a href="{{ config.system_path }}/vendor/controle"><div class="item">Controle</div></a>
      <a href="{{ config.system_path }}/vendor/financeiro"><div class="item">Financeiro</div></a>
      <a href="{{ config.system_path }}/vendor/hospedagem"><div class="item">Hospedagem</div></a>
      <a href="{{ config.system_path }}/vendor/interface"><div class="item">Hotsite</div></a>
      <div class="clear"></div>
</div>
