{% extends "base_layout.twig" %}

{% block user_header %}
    {% include "user_header.twig" %}
{% endblock %}

{% block top_menu %}
    {% include "main_menu.twig" %}
{% endblock %}
{% block content %}
    <div id="user-preference-wrap" class="content-wrap">
        <div class="section-title">Preferências do Usuário</div>
        <div class="preference-tabs">
            <div class="item selected" tab="personal">Informações Pessoais</div>
            <div class="item" tab="privacy">Configurações de Privacidade</div>
            <div class="item" tab="payment">Configurações de Pagamento</div>
        </div>
        <div class="preference-form">
            <div class="tab" tab="personal">
                <div class="title">Informações Pessoais</div>
                <form id="image-upload-form">
                    <input type="file" id="image-upload-file" />
                </form>
                <form id="personal-info-form">
                    <div class="item">
                        <label for="personal-form-picture">Imagem de Perfil</label>
                        {% if user.image %}
                            <div class="image"><div class="buttons-wrap"><i class='edit fa fa-pencil' title='Editar'></i><i class='remove fa fa-times' title='Remover'></i></div><img class="image-file" src="{{ config.system_path }}/images/avatar/{{ user.image }}" alt="Imagem" /></div>
                            {% else %}
                            <div class="image"><div class="buttons-wrap"><i class='edit fa fa-pencil' title='Editar'></i><img class="image-file" src="{{ config.system_path }}/images/avatar/noimage.jpg" alt="Imagem" /></div>                        
                                {% endif %}
                    </div>
                    <div class="item">
                        <label for="personal-form-nome">Nome*</label>
                        <input type="text" id="personal-form-nome" name="nome" value="{{ user.nome }}" />
                    </div>
                    <div class="item">
                        <label for="personal-form-email">Email*</label>
                        <input type="text" id="personal-form-email" name="nome" value="{{ user.email }}" />
                    </div>
                    <div class="item">
                        <label for="personal-form-rg">Documento de Identidade*</label>
                        <input type="text" id="personal-form-rg" name="rg" value="{{ user.nome }}" />
                    </div>
                    <div class="item">
                        <label for="personal-form-nascimento">Data de Nascimento*</label>
                        <select type="text" id="personal-form-nascimento-day" class="birth-input" name="nascimento-day">
                            {% for i in 1..31 %}
                                <option value="{{ i }}" {% if user.data_nascimento.dia == i %} selected {% endif %}>{{ i }}</option>
                            {% endfor %}
                        </select>
                        <select type="text" id="personal-form-nascimento-month" class="birth-input" name="nascimento-month">                            
                            <option value="01" {% if user.data_nascimento.mes == 01 %} selected {% endif %}>Janeiro</option>
                            <option value="02" {% if user.data_nascimento.mes == 02 %} selected {% endif %}>Fevereiro</option>
                            <option value="03" {% if user.data_nascimento.mes == 03 %} selected {% endif %}>Março</option>
                            <option value="04" {% if user.data_nascimento.mes == 04 %} selected {% endif %}>Abril</option>
                            <option value="05" {% if user.data_nascimento.mes == 05 %} selected {% endif %}>Maio</option>
                            <option value="06" {% if user.data_nascimento.mes == 06 %} selected {% endif %}>Junho</option>
                            <option value="07" {% if user.data_nascimento.mes == 07 %} selected {% endif %}>Julho</option>
                            <option value="08" {% if user.data_nascimento.mes == 08 %} selected {% endif %}>Agosto</option>
                            <option value="09" {% if user.data_nascimento.mes == 09 %} selected {% endif %}>Setembro</option>
                            <option value="10 {% if user.data_nascimento.mes == 10 %} selected {% endif %}">Outubro</option>
                            <option value="11 {% if user.data_nascimento.mes == 11 %} selected {% endif %}">Novembro</option>
                            <option value="12" {% if user.data_nascimento.mes == 12 %} selected {% endif %}>Dezembro</option>
                        </select>
                        <select type="text" id="personal-form-nascimento-year" class="birth-input" name="nascimento-year">
                            {% for i in 1950..2010 %}
                                <option value="{{ i }}" {% if user.data_nascimento.ano == i %} selected {% endif %}>{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="item">
                        <label for="personal-form-sexo">Sexo</label>
                        <select id="personal-form-sexo" name="sexo" >
                            <option value="">Não Informado</option>
                            <option value="m" {% if user.sexo == 'm' %}selected{%endif%}>Masculino</option>
                            <option value="f" {% if user.sexo == 'f' %}selected{%endif%}>Feminino</option>
                        </select>
                    </div>
                    <input type="button" id="personal-form-submit" value="Salvar" class="btn-01"/>
                </form>
            </div>
            <div class="tab hidden" tab="privacy">
                <div class="title">Configurações de Privacidade</div>   
                <form id="privacy-info-form">
                    <div class="item">
                        <label for="personal-form-nome">Nome*</label>
                        <input type="text" id="personal-form-nome" name="nome" value="{{ user.nome }}" />
                    </div>
                    <div class="item">
                        <label for="personal-form-email">Email*</label>
                        <input type="text" id="personal-form-email" name="nome" value="{{ user.email }}" />
                    </div>
                    <div class="item">
                        <label for="personal-form-rg">Documento de Identidade*</label>
                        <input type="text" id="personal-form-rg" name="rg" value="{{ user.nome }}" />
                    </div>
                    <div class="item">
                        <label for="personal-form-nascimento">Data de Nascimento*</label>
                        <input type="text" id="personal-form-nascimento" class="small" name="nascimento" value="{{ user.data_nascimento }}" />
                    </div>
                    <div class="item">
                        <label for="personal-form-sexo">Sexo</label>
                        <select id="personal-form-sexo" name="sexo" >
                            <option value="">Não Informado</option>
                            <option value="m" {% if user.sexo == 'm' %}selected{%endif%}>Masculino</option>
                            <option value="f" {% if user.sexo == 'f' %}selected{%endif%}>Feminino</option>
                        </select>
                    </div>
                    <input type="button" id="personal-form-submit" value="Salvar" class="btn-01"/>
                </form>                   
            </div>
            <div class="tab hidden" tab="payment">
                <div class="title">Configurações de Pagamento</div>   
                <form id="payment-info-form">
                    <div class="item">
                        <label for="personal-form-nome">Nome*</label>
                        <input type="text" id="personal-form-nome" name="nome" value="{{ user.nome }}" />
                    </div>
                    <div class="item">
                        <label for="personal-form-email">Email*</label>
                        <input type="text" id="personal-form-email" name="nome" value="{{ user.email }}" />
                    </div>
                    <div class="item">
                        <label for="personal-form-rg">Documento de Identidade*</label>
                        <input type="text" id="personal-form-rg" name="rg" value="{{ user.nome }}" />
                    </div>
                    <div class="item">
                        <label for="personal-form-nascimento">Data de Nascimento*</label>
                        <input type="text" id="personal-form-nascimento" class="small" name="nascimento" value="{{ user.data_nascimento }}" />
                    </div>
                    <div class="item">
                        <label for="personal-form-sexo">Sexo</label>
                        <select id="personal-form-sexo" name="sexo" >
                            <option value="">Não Informado</option>
                            <option value="m" {% if user.sexo == 'm' %}selected{%endif%}>Masculino</option>
                            <option value="f" {% if user.sexo == 'f' %}selected{%endif%}>Feminino</option>
                        </select>
                    </div>
                    <input type="button" id="personal-form-submit" value="Salvar" class="btn-01"/>
                </form>                   
            </div>
        </div>
    </div>
    <script>
        $("#personal-form-nascimento").mask("00/00/0000");
        var preferencesinterface = new preferencesInterface();
        preferencesinterface.init();
    </script>
{% endblock %}