{% extends "base_layout.twig" %}

{% block user_header %}
    {% include "user_header.twig" %}
{% endblock %}

{% block top_menu %}
    {% include "main_menu.twig" %}
{% endblock %}
{% block content %}
    <div id="user-preference-wrap" class="content-wrap">
        <div class="section-title">Preferências do Usuário</div>
        <div class="preference-tabs">
            <div class="item selected" tab="personal">Informações Pessoais</div>
            <div class="item" tab="privacy">Configurações de Privacidade</div>
            <div class="item" tab="payment">Configurações de Pagamento</div>
            <div class="item" tab="instance">Configurações de Equipe</div>
        </div>
        <div class="preference-form">
            <div class="tab" tab="personal">
                <div class="title">Informações Pessoais</div>
                <form id="image-upload-form">
                    <input type="file" id="image-upload-file" />
                </form>
                <form id="personal-info-form">
                    <div class="item">
                        <label for="personal-form-picture">Imagem de Perfil</label>
                        {% if user.image %}
                            <div class="image"><div class="buttons-wrap"><i class='edit fa fa-pencil' title='Editar'></i><i class='remove fa fa-times' title='Remover'></i></div><img class="image-file" src="{{ config.system_path }}/images/avatar/{{ user.image }}" alt="Imagem" /></div>
                                    {% else %}
                            <div class="image"><div class="buttons-wrap"><i class='edit fa fa-pencil' title='Editar'></i><img class="image-file" src="{{ config.system_path }}/images/avatar/noimage.jpg" alt="Imagem" /></div>                        
                                {% endif %}
                        </div>
                        <div class="item">
                            <label for="personal-form-nome">Nome*</label>
                            <input type="text" id="personal-form-nome" name="nome" value="{{ user.nome }}" />
                        </div>
                        <div class="item">
                            <label for="personal-form-email">Email*</label>
                            <input type="text" id="personal-form-email" name="email" value="{{ user.email }}" />
                        </div>
                        <div class="item">
                            <label for="personal-form-rg">Documento de Identidade*</label>
                            <div class="subinfo">O documento de identificação pode ser requisitado na entrada de alguns eventos.</div>
                            <input type="text" id="personal-form-rg" name="rg" value="{{ user.rg }}" />
                        </div>
                        <div class="item">
                            <label for="personal-form-nascimento">Data de Nascimento*</label>
                            <div class="subinfo">Alguns eventos podem possuir requerimentos mínimos de idade.</div>
                            <select type="text" id="personal-form-nascimento-day" class="birth-input" name="nascimento-day">
                                <option value="">-</option>
                                {% for i in 1..31 %}
                                    <option value="{{ i }}" {% if user.data_nascimento.dia == i %} selected {% endif %}>{{ i }}</option>
                                {% endfor %}
                            </select>
                            <select type="text" id="personal-form-nascimento-month" class="birth-input" name="nascimento-month">       
                                <option value="">-</option>                     
                                <option value="01" {% if user.data_nascimento.mes == 01 %} selected {% endif %}>Janeiro</option>
                                <option value="02" {% if user.data_nascimento.mes == 02 %} selected {% endif %}>Fevereiro</option>
                                <option value="03" {% if user.data_nascimento.mes == 03 %} selected {% endif %}>Março</option>
                                <option value="04" {% if user.data_nascimento.mes == 04 %} selected {% endif %}>Abril</option>
                                <option value="05" {% if user.data_nascimento.mes == 05 %} selected {% endif %}>Maio</option>
                                <option value="06" {% if user.data_nascimento.mes == 06 %} selected {% endif %}>Junho</option>
                                <option value="07" {% if user.data_nascimento.mes == 07 %} selected {% endif %}>Julho</option>
                                <option value="08" {% if user.data_nascimento.mes == 08 %} selected {% endif %}>Agosto</option>
                                <option value="09" {% if user.data_nascimento.mes == 09 %} selected {% endif %}>Setembro</option>
                                <option value="10 {% if user.data_nascimento.mes == 10 %} selected {% endif %}">Outubro</option>
                                <option value="11 {% if user.data_nascimento.mes == 11 %} selected {% endif %}">Novembro</option>
                                <option value="12" {% if user.data_nascimento.mes == 12 %} selected {% endif %}>Dezembro</option>
                            </select>
                            <select type="text" id="personal-form-nascimento-year" class="birth-input" name="nascimento-year">
                                <option value="">-</option>
                                {% for i in 2010..1950 %}
                                    <option value="{{ i }}" {% if user.data_nascimento.ano == i %} selected {% endif %}>{{ i }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="item">
                            <label for="personal-form-sexo">Sexo</label>
                            <div class="subinfo">Para alguns eventos pode haver diferença no valor de ingresso para determinado sexo.</div>
                            <select id="personal-form-sexo" name="sexo" >
                                <option value="">Não Informado</option>
                                <option value="m" {% if user.sexo == 'm' %}selected{%endif%}>Masculino</option>
                                <option value="f" {% if user.sexo == 'f' %}selected{%endif%}>Feminino</option>
                            </select>
                        </div>
                        <div class="item">
                            <label for="personal-form-rua">Endereço</label>
                            <div class="subinfo">Seu endereço pode ser utilizado para envio de ingressos e cobranças..</div>
                            <input type="text" id="personal-form-endereco" placeholder="Rua e Bairro" name="endereco" value="{{ user.endereco }}" />
                            <input type="text" id="personal-form-cidade" placeholder="Cidade"  name="cidade" value="{{ user.cidade }}" />
                            <input type="text" id="personal-form-cep" placeholder="CEP"  name="cep" value="{{ user.cep }}" />
                            <select name="estado" id="personal-form-estado" name="estado">
                                <option value="AC" {% if user.estado == "AC" %} selected {% endif %} >Acre</option>
                                <option value="AL" {% if user.estado == "AL" %} selected {% endif %} >Alagoas</option>
                                <option value="AP" {% if user.estado == "AP" %} selected {% endif %} >Amapá</option>
                                <option value="AM" {% if user.estado == "AM" %} selected {% endif %} >Amazonas</option>
                                <option value="BA" {% if user.estado == "BA" %} selected {% endif %} >Bahia</option>
                                <option value="CE" {% if user.estado == "CE" %} selected {% endif %} >Ceará</option>
                                <option value="DF" {% if user.estado == "DF" %} selected {% endif %} >Distrito Federal</option>
                                <option value="ES" {% if user.estado == "ES" %} selected {% endif %} >Espirito Santo</option>
                                <option value="GO" {% if user.estado == "GO" %} selected {% endif %} >Goiás</option>
                                <option value="MA" {% if user.estado == "MA" %} selected {% endif %} >Maranhão</option>
                                <option value="MS" {% if user.estado == "MS" %} selected {% endif %} >Mato Grosso do Sul</option>
                                <option value="MT" {% if user.estado == "MT" %} selected {% endif %} >Mato Grosso</option>
                                <option value="MG" {% if user.estado == "MG" %} selected {% endif %} >Minas Gerais</option>
                                <option value="PA" {% if user.estado == "PA" %} selected {% endif %} >Pará</option>
                                <option value="PB" {% if user.estado == "PB" %} selected {% endif %} >Paraíba</option>
                                <option value="PR" {% if user.estado == "PR" %} selected {% endif %} >Paraná</option>
                                <option value="PE" {% if user.estado == "PE" %} selected {% endif %} >Pernambuco</option>
                                <option value="PI" {% if user.estado == "PI" %} selected {% endif %} >Piauí</option>
                                <option value="RJ" {% if user.estado == "RJ" %} selected {% endif %} >Rio de Janeiro</option>
                                <option value="RN" {% if user.estado == "RN" %} selected {% endif %} >Rio Grande do Norte</option>
                                <option value="RS" {% if user.estado == "RS" %} selected {% endif %} >Rio Grande do Sul</option>
                                <option value="RO" {% if user.estado == "RO" %} selected {% endif %} >Rondônia</option>
                                <option value="RR" {% if user.estado == "RR" %} selected {% endif %} >Roraima</option>
                                <option value="SC" {% if user.estado == "SC" %} selected {% endif %} >Santa Catarina</option>
                                <option value="SP" {% if user.estado == "SP" %} selected {% endif %} >São Paulo</option>
                                <option value="SE" {% if user.estado == "SE" %} selected {% endif %} >Sergipe</option>
                                <option value="TO" {% if user.estado == "TO" %} selected {% endif %} >Tocantins</option>
                            </select>
                        </div>
                        <input type="button" id="personal-form-submit" value="Salvar" class="btn-01"/>
                        <div id="personal-form-response" class="response-wrap"></div>
                </form>
            </div>
            <div class="tab hidden" tab="privacy">
                <div class="title">Configurações de Privacidade</div>   
                <form id="privacy-info-form">
                    <div class="item">
                        <label for="privacy-form-profile">Visualização de Perfil</label>
                        <div class='subitem'>Defina se o seu perfil do Dyon está disponível para o público.</div>
                        <select name='privacy-profile' id='privacy-form-profile'>
                            <option value='0'>Público</option>
                            <option value='1'>Privado</option>
                        </select>
                    </div>
                    <div class="item">
                        <label for="privacy-form-events">Visualização de Eventos</label>
                        <div class='subitem'>Caso o seu perfil seja público, defina quais eventos você deseja exibir.</div>
                        <select name='privacy-events' id='privacy-form-events'>
                            <option value='0'>Eventos que comprei e que demonstrei interesses</option>
                            <option value='1'>Apenas eventos que participei</option>
                            <option value='2'>Nenhum Evento</option>
                        </select>
                    </div><div class="item">
                        <label for="privacy-form-email">Configurações de Email</label>
                        <div class='subitem'>Defina quem pode te enviar emails.</div>
                        <select name='privacy-email' id='privacy-form-email'>
                            <option value='0'>Organizadores de eventos que participei</option>
                            <option value='1'>Apenas emails oficiais do Dyon</option>
                            <option value='2'>Não receber emails de notificação</option>
                        </select>
                    </div>

                    <input type="button" id="privacy-form-submit" value="Salvar" class="btn-01"/>

                </form>                   
            </div>
            <div class="tab hidden" tab="payment">
                <div class="title">Configurações de Pagamento</div>   
                <form id="payment-info-form">

                    <input type="button" id="personal-form-submit" value="Salvar" class="btn-01"/>
                </form>                   
            </div>
            <div class="tab hidden" tab="instance">
                <div class="title">Configurações de Equipe</div>  
                <div class="info">Nessa aba você pode visualizar, configurar e criar equipes organizadoras para gerir seus eventos.</div>
                <form id="instance-info-form">
                    <div class="instance-table">
                        <div class="header">
                            <div class="column">Nome da Equipe</div>
                            <div class="column">Plano Atual</div>
                            <div class="column">Sua Atribuição</div>
                            <div class="column">Controle</div>
                        </div>
                        <div class="instances">
                            {% for instance in user.instances.instances %}
                                    <div class="row">
                                        <div class="column">{{ instance.nome }}</div>
                                        <div class="column">{{ instance.id_plano }}</div>
                                        <div class="column">{{ instance.user_info.status_usuario }}</div>
                                        <div class="column"></div>
                                    </div>
                            {% endfor %}
                        </div>
                </form>                   
            </div>
        </div>
    </div>
    <script>
        $("#personal-form-nascimento").mask("00/00/0000");
        var preferencesinterface = new preferencesInterface();
        preferencesinterface.init();
    </script>
{% endblock %}