<div id="edit-event-overview"><i class="fa fa-pencil"></i> Editar</div>
<div class="clear"></div>
<div class="column-50" id="column-overview1">
    <div class="item">
        <div class="label">
            Data de Início
        </div>
        <div class="info" field="data-inicio">
            {{ event.data_inicio_formatted }}                                        
        </div>
    </div>
    {% if event.data_fim %}
        <div class="item">
            <div class="label">
                Data de Término
            </div>
            <div class="info" field="data-fim">
                {{ event.data_fim_formatted }}                                        
            </div>
        </div>
    {% endif %}
    {% if event.local %}
        <div class="item">
            <div class="label">
                Localização
            </div>
            <div class="info" field="local">
                {{ event.local }}                                        
            </div>
        </div>
    {% endif %}
    {% if event.url %}
        <div class="item">
            <div class="label">
                Endereço
            </div>
            <div class="info" field="local">
                <a href="http://dyon.vc/e/{{ event.url }}">http://dyon.vc/e/{{ event.url }}</a>                                        
            </div>
        </div>
    {% endif %}
</div>
<div class="column-50" id="column-overview2">
    <div class="item">
        <div class="label">
            Sistema de Hospedagem
        </div>
        <div class="info" field="sys-hospedagem">
            {% if event.flag_hospedagem %}Ativado{% else %}Desativado{%endif%}                                        
        </div>
    </div>
    <div class="item">
        <div class="label">
            Sistema de Compras
        </div>
        <div class="info" field="sys-compras">
            {% if event.flag_compras %}Ativado{% else %}Desativado{%endif%}                                        
        </div>
    </div>
    <div class="item">
        <div class="label">
            Sistema de Grupos
        </div>
        <div class="info" field="sys-grupos">
            {% if event.flag_grupos %}Ativado{% else %}Desativado{%endif%}                                        
        </div>
    </div>
</div>
<div class="clear"></div>
{% if event.descricao %}
    <div class="item">
        <div class="label">
            Descrição
        </div>
        <div class="info-desc" field="descricao">
            {{ event.descricao_br|raw }}                                        
        </div>
    </div>
{% endif %}