{% set level = level + 1 %}
{% for lote in lotes %}
    <div class="item item-level-{{ level }} 
         {% if level > 1 %}
             item-level-hasparent
         {% endif %}
         ">
        {% if lote.status == 3 %}
            <div class="lote-header">
                {{ lote.nome }}
            </div>
        {% else %}
            <div class='lote-sellable'>
                <div class='box-40'>{{ lote.nome }}</div>
                <div class='box-15'>
                    {% if lote.genero == 'm' %}
                        Masculino
                    {% elseif lote.genero == 'f' %}
                        Feminino
                    {% else %}
                        Unissex
                    {% endif %}
                </div>
                <div class='box-20'>
                    {{ lote.vendidos }} de {{ lote.max_venda }}               
                </div>
                <div class='box-10'>
                    {% if lote.status == 1 %}
                        <div class='lote-status-1'>Fechado</div>
                    {% elseif lote.status == 2 %}
                        <div class='lote-status-2'>Aberto</div>
                    {% endif %}                    
                </div>
                <div class='clear'></div>
            </div>
        {% endif %}
        {% if lote.lotes %}
            {% include "evento/load_event_lotes.twig" with {'lotes': lote.lotes, 'level': level} %}
        {% endif %}
    </div>
{% endfor %}