{% extends "base_layout.twig" %}

{% block user_header %}
    {% include "user_header.twig" %}
{% endblock %}

{% block top_menu %}
    {% include "main_menu.twig" %}
{% endblock %}
{% block content %}
    <div id="sidebar-menu-events" class="sidebar-menu sidebar-events-menu">
        {% include "evento/menu_event.twig" %}
    </div>
    <div id="right-content-events" class="right-content right-content-events">
        {% if events_list|length > 0 %}
            {% for event in events_list %}
                <div class="event-list-item" id="event-list-item-{{ event.id }}">
                    <div class="body">
                        <div class="nome">{{ event.nome }}</div>
                        {% if event.status == 1 %}
                            <div class="event-archived">Evento Arquivado</div>
                        {% endif %}
                        <div class="data">
                            {{ event.data_inicio }}
                            {% if event.data_fim %}
                                até {{ event.data_fim }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="controls">
                        <a href="{{ config.system_path }}/eventos/{{ event.id }}"><div class="btn">Infomações</div></a>       
                        <div class="btn event-archive" id="event-archive-{{ event.id }}">
                            {% if event.status == 2 %}
                                Arquivar
                            {% elseif event.status == 1 %}                                          
                                Desarquivar
                            {% endif %}
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        {% if event_not_found_flag %}
            <div class="event-not-found error-message01">
                Nenhum evento encontrado com os filtros selecionados.
            </div>

        {% endif %}
    </div>
    <script>
        event_interface = new eventInterface();
        event_interface.loadBindsMain();
    </script>
{% endblock %}