<div id="top-menu-wrap">
      <a href="{{ config.system_path }}/"><div class="item home-item">Planejamento</div></a>
      <a href="{{ config.system_path }}/manager/administrar"><div class="item">Administrar Evento</div></a>
      <a href="{{ config.system_path }}/manager/controle"><div class="item">Controle de Ingressos</div></a>
      <a href="{{ config.system_path }}/manager/financeiro"><div class="item">Financeiro</div></a>
      <a href="{{ config.system_path }}/manager/interface"><div class="item">Página do Evento</div></a>
      <div class="clear"></div>
</div>
