<div id="top-menu-wrap">
      <a href="{{ config.system_path }}/"><div class="item home-item">Dashboard</div></a>
      <a href="{{ config.system_path }}/manager/eventos"><div class="item">Eventos</div></a>
      <a href="{{ config.system_path }}/manager/controle"><div class="item">Controle</div></a>
      <a href="{{ config.system_path }}/manager/financeiro"><div class="item">Financeiro</div></a>
      <a href="{{ config.system_path }}/manager/hospedagem"><div class="item">Hospedagem</div></a>
      <div class="clear"></div>
</div>
