<div id='main-navigation-menu-wrap'>
    <a href="{{ config.system_path }}/u/{{ user.id }}"><div class='item'>Meu Perfil</div></a>
    <a href="{{ config.system_path }}/eventos">       <div class='item'>Meus Eventos</div></a>
    <a href="{{ config.system_path }}/carteira">       <div class='item'>Minha Carteira</div></a>
    <a href="{{ config.system_path }}/usuario/config"><div class='item'>Preferências</div></a>
    <a href="{{ config.system_path }}/usuario/logout"><div class='item'>Sair</div></a>    
</div>